<div class="jumbotron">
    <h3>ABOUT DEPARTMENT</h3>
    <p>Electronics and communication engineering is the discipline that applies engineering principles to design, analyze, manufacture, and maintain mechanical systems. It is one of the oldest engineering disciplines. There is great demand for skilled mechanical engineers in different segments of the industry. Their expertise is required in traditional manufacturing industries such as automobiles, aviation, shipping, aerospace, power plants and machinery manufacturing with the knowledge of core areas including mechanics, dynamics, thermodynamics, material science, structural analysis, computer-aided design and manufacturing, product life cycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, aircraft, watercraft, robotics, etc.

    </p>  <p> It is the branch of engineering that involves the design, production, and operation of machinery. There is a great requirement for young mechanical engineers having management skills along with technical proficiency. The primary role of such professionals is to manage both technology and firms related to engineering stream.
        
    </p>  <p>     The job opportunities for skilled mechanical engineers are aplenty and unending. Mechanical engineers are required to design, test, manufacture, install, operate and maintain a wide array of machines and mechanical systems that are used in countless industries. These professionals can find employment both in the government and private sector undertakings.
        
    </p>  <p>   Mechanical department was established in 2012. The Department offers Diploma, Under Graduate programs. The department has well experienced faculty, good infrastructural facilities and has full-fledged laboratories equipped with adequate hardware and software technology. Mechanical engineering is a branch of engineering that involves the production, thermal, design, computer-aided design and manufacturing, operation of machine tools, hydraulic techniques.</p>
</div>
<div class="row">
    <div class="col-6 jumbotron bg-light">
        <h3 class="text-warning ml-2">VISION</h3>
        <p>“To evolve as a center of excellence in establishment of global leadership quality in the ECE field to meet the global challenges...”</p>
        <hr class="solid bg-info" width="75%">
        <h3 class="text-success ml-2">MISSION</h3>
        <p>To educate students about professional & ethical responsibilities in ECE to build leadership and entrepreneurship qualities for their career development, create opportunities and guide students in acquiring career oriented jobs in the field of Mechanical Engineering.</p>
    </div>
    <div class="col-6 jumbotron bg-info">
        <h3 class="text-danger">Objectives</h3>
        <ol>
            <li>To make the students useful for Building Industry directly after completing Electronics and communication Engineering course.</li>
            <li>To Prepare and Develop Excellent and System of Power Point Projection to use in teaching activity.</li>
            <li>To prepare working models in the subject Hydraulic Machines by using prospective and transparent PVC, plastic sheets.</li>
            <li>To develop Geology Lab by collecting valuable minerals and rocks, and displaying all the available minerals in a show-case, to create a show room for the lab.</li>
            <li>To train the faculty on latest technologies and improve their teaching methodologies.</li>
            <li>To establish a platform where the industry and institution can interact and thereby expose the students to the industry environment.</li>
        </ol>
    </div>
</div>