<div class="jumbotron">
    <h3 class="text-dark">ABOUT DEPARTMENT</h3>
    <p>The Department Of Civil Engineering at FIU university is producing high quality technical manpower needed to industry, R&D organizations, and academic institutions since 2013 with an Intake of 60. The intake has been increased to 120 in the year 2014.

        Under academic activity, more emphasis is bestowed on deep comprehension and understanding of fundamental principles of each subject in all cognitive teaching learning methodologies. The department has full-fledged Surveying laboratory, AutoCAD,GIS laboratory, Engineering Geology laboratory, Strength of materials laboratory, Hydraulic and Hydraulics machinery laboratory, Soil Mechanics laboratory, Concrete Technology laboratory, Environmental Engineering laboratory, Transportation Engineering laboratory.
        
        Many of our students are placed in reputed companies like GMR, L&T, Aparna infrastructures, NCC, Navayuga, GVK, Lanco Infratech limited, IVRCL infrastructures & projects ltd, Indian army, Indian navy and many more. The academic activities of the department emphasize deep understanding of fundamental principles, development of creative ability to handle the challenge of civil engineering, and the analytical ability to solve problems which are interdisciplinary in nature. The department is actively involved in basic and applied research and consultancy.
        
        Department also provides technical guidelines for the benefits of students and entrepreneurs by organizing short-term courses, certificate oriented training programs like auto-cad, stadd.pro, and primavera,Revit,MEP e.t.c under finishing school concept, seminars, academic/industrial guest lectures, national level workshops, national and international conferences.</p>
</div>
<div class="row">
    <div class="col-6 jumbotron bg-light">
        <h3 class="text-warning ml-2">VISION</h3>
        <p>“Striving to be centre of excellence in civil engineering education to provide students the latest learning techniques and a complete knowledge base for sustainable development of society.”</p>
        <hr class="solid bg-info" width="75%">
        <h3 class="text-success ml-2">MISSION</h3>
        <p>Provide value based technical education and empower the students to become competent professionals.</p>
    </div>
    <div class="col-6 jumbotron bg-info">
        <h3 class="text-danger">Objectives</h3>
        <ol>
            <li>To make the students useful for Building Industry directly after completing Civil Engineering course.</li>
            <li>To Prepare and Develop Excellent and System of Power Point Projection to use in teaching activity.</li>
            <li>To prepare working models in the subject Hydraulic Machines by using prospective and transparent PVC, plastic sheets.</li>
            <li>To develop Geology Lab by collecting valuable minerals and rocks, and displaying all the available minerals in a show-case, to create a show room for the lab.</li>
            <li>To train the faculty on latest technologies and improve their teaching methodologies.</li>
            <li>To establish a platform where the industry and institution can interact and thereby expose the students to the industry environment.</li>
        </ol>
    </div>
</div>