<div class="table">
    <tr *ngFor="let i of this.marksdata">
        <td><b>subject1</b></td>
        <td>{{i.subject1}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>subject2</b></td>
        <td>{{i.subject2}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>subject3</b></td>
        <td>{{i.subject3}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>subject4</b></td>
        <td>{{i.subject4}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>subject5</b></td>
        <td>{{i.subject5}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>subject6</b></td>
        <td>{{i.subject6}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>Lab1</b></td>
        <td>{{i.lab1}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>Lab2</b></td>
        <td>{{i.lab2}}</td>
    </tr>
    <tr *ngFor="let i of this.marksdata">
        <td><b>Total</b></td>
        <td>{{i.total}}</td>
    </tr>
</div>
